<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dw.librarysystem.mapper.ReservationMapper">


    <resultMap id="reservationWithMemberAndBook" type="Reservation">
        <id property="reservationId" column="reservation_id"/>
        <result property="reservationDate" column="reservation_date"/>
        <result property="expiryDate" column="expiry_date"/>
        <result property="status" column="status"/>
        <result property="queuePosition" column="queue_position"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <association property="member" javaType="Member">
            <id property="memberId" column="member_id"/>
            <result property="email" column="email"/>
            <result property="name" column="name"/>
            <result property="phone" column="phone"/>
            <result property="memberType" column="member_type"/>
        </association>
        <association property= "book" javaType="Book">
            <id property="bookId" column="book_id"/>
            <result property="isbn" column="isbn"/>
            <result property="title" column="title"/>
            <result property="author" column="author"/>
            <result property="publisher" column="publisher"/>
            <result property="category" column="category"/>
            <result property="totalQuantity" column="total_quantity"/>
            <result property="availableQuantity" column="available_quantity"/>
            <result property="location" column="location"/>
        </association>
    </resultMap>
    <select id="reservationByBookId" resultMap="reservationWithMemberAndBook">
        select
        r.reservation_id,
        r.member_id,
        r.book_id,
        r.reservation_id,
        r.expiry_date,
        r.status,
        r.queue_position,
        r.created_at,
        r.updated_at
        from reservation r
        join member m on r.member_id = m.member_id
        join book b on r.book_id = b.book_id
        where r.book_id = #{bookId}
    </select>
    <update id="reservationBook" useGeneratedKeys="true" keyProperty="reservationId">
        insert into reservation (
        member_id, book_id, queue_position
        ) values (
        #{reservation.member.memberId},
        #{reservation.book.bookId},
        #{reservation.queuePosition}
        )
    </update>
    
    <update id="reservationDate">
        update
        reservation
        set
        reservation_date = #{reservation.reservationDate},
        expiry_date = #{reservation.expiryDate}
        where book_id = #{reservation.book.bookId} and queue_position = 1
    </update>
</mapper>
    

    